:root{
    --color-encabezado:rgba(0,124,191,255);
    --color-fondo:rgba(255,255,255,1);
}

body {
    background-color: rgba(255,255,255,1);
    background:linear-gradient(var(--color-fondo) 0%,#ddf1f9 20%,#a0d8ef 100%);
}

h1,h2,h3,h4,h5,h6 {
    color:rgba(31,140,199,255);
}

table {
    background-color: rgb(255, 255, 255,1);
}

table, tr, th, td {
    border: 3px solid rgb(179, 236, 157,0.6);
}

thead, tfoot,th {
    color: var(--color-fondo);background-color:rgb(179, 236, 157,1);
}

thead th, tfoot th, tfoot td {
    background: linear-gradient(bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}

input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="password"], textarea, select{
    background-color:#ffffff;
    color:#444;
}

input[type="text"]:focus, textarea:focus, select:focus {
    border-color:#66afe9;
    color:#444;
}

.button, button, input[type="submit"] {
    color:#FFF;
    background:#2B8737;
    background:linear-gradient(#329e39 0%,#2b8737 25%,#21662e 100%)
}

header {
    background-color: rgba(255,255,255,1);
}

#barra-superior-1{
    background-color: var(--color-encabezado);
}

#enlace-top{
    color: #fff;
}

#enlace-top:active{
    color:rgba(57,181,74,255)
}

header nav ul{
    background-color:rgba(0,130,200,255);
}

header ul li a{
    background-color: rgba(0,130,200,255);
    color:#FFF;
}

header li a:hover{
    background-color: #f6f6f6;
    color: #000000;
}

#tabla_contenidos{
    background-color:rgba(191, 240, 248, 0.6);
    border-color: rgba(0,124,191,255);
}

#tabla_contenidos ul li a{
    color: #000000;
}

#tabla_contenidos ul li a:hover{
    background-color:#008f70;
    color: #ddf8f6;
}

#busqueda_letras nav ul li a{
    color:#FFF;
    background-color:rgba(0,130,200,255);
}

#busqueda_letras li a:hover{
    background-color: #f6f6f6;
    color: #000000;

}

#bloque-1{
    background-color:var(--color-encabezado);
}

#bloque-2{
    background-color:var(--color-encabezado);
}

footer{color:#fff;}








































