

/*Aspectos generales*/
html {
    font-size:100%
}

article,aside,figcaption,figure,footer,header,menu,nav,section {
 display:block
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(255,255,255,1);
    line-height:1;
    background:linear-gradient(#feffff 0%,#ddf1f9 20%,#a0d8ef 100%);
}

/*Titulos y encabezados*/
h1,h2,h3,h4,h5,h6{
    color:#404040;
    font-weight:bold
}

h1{
    font-size:1.7em;
    line-height:1em;
    margin-bottom:.5em
}

h2{
    font-size:1.3em;
    line-height:1.5em;
    margin-bottom:.5em
}

h3{
    font-size:1.1em;
    line-height:2em;
    margin-bottom:.5em
}

h4 {
    font-size:1em;
    line-height:2.14286em;
    margin-bottom:.28571em
}

/*Cuerpo de la pagina web*/

p {
    margin:0 0 1.42857em 0
}

p img {
    margin:0
}

em {
    font-style:italic
}
/*Tablas*/
table {
    border-collapse:collapse;
    border-spacing:0
}
/*Listas*/
ol,ul {
    list-style:none
}

ul ul {
    margin:.3em 0 .3em 1em
}

ul ul li {
 margin-bottom:.5em
}
#busqueda_letras nav{
    
    margin-left: auto;
    margin-right: auto;
    align-content:center;
    justify-content:center;
    text-align:center;

}
.container{

    margin-left: auto;
    margin-right: auto;
    align-content:center;
    justify-content:center;
    text-align:center;
}


li p {
    line-height:1.5em
}
/*Formularios*/


form {
    margin:0
}

fieldset {
    margin-bottom:1.42857em;
    width:80%;
    justify-content:center;
    margin-right:auto;
    margin-left: auto;
    border-radius:.30769em;
}

.form-group {
    padding:1em;
    display: block;
    
}

.button button {
    width:100%;
    padding-left:0;
    padding-right:0;
    text-align:center;
}

input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="password"], textarea, select{
    font-size:1em;
    font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
    color:#444;
    width:80%;
    padding:.76923em .61538em;
    min-height:1.30769em;
    background-color:#ffffff;
    background-image:none;
    border:.08462em solid #b4b4b4;
    border-radius:.30769em;
    box-shadow: 0 .23077em .23077em rgba(0,0,0,0.075);
}
input[type="tel"]

input[type="text"]:focus, textarea:focus, select:focus {
    border-color:#66afe9;
    box-shadow:0 .1em .1em rgba(0,0,0,0.075),0 0 .8em rgba(102,175,233,0.6);
    color:#444
}

textarea {
    min-height:4.5em;
}

label, legend {
    display:block;
    font-weight:bold;
}

input[type="checkbox"] {
 display:inline;
}

.button, button, input[type="submit"] {
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
    line-height:normal;
    font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
    color:#FFF;
    border:.07143em solid #000;
    border-radius:.28571em;
    margin:0;
    padding:.71429em;
    display:inline-block;
    background:#2B8737;
    background:linear-gradient(#329e39 0%,#2b8737 25%,#21662e 100%)
}


/*Encabezado de la pagina web*/
header {
    list-style: none;
    display: inline-block;
    background-color: rgba(255,255,255,1);
    width: 100%;
    padding:0;
    margin:0;
}
    #barra-superior-1{
        background-color: rgba(0,124,191,255);
    }
    
    #enlace-top{
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 0.5em 1em;
    }
    #enlace-top:hover{text-decoration:underline;}
    #enlace-top:active{color:rgba(57,181,74,255)}
    
    header nav ul{
        background-color:rgba(0,130,200,255);
        border: 1px solid rgba(25,25,25);
        margin-bottom: 0%;
        
    }
    header ul li{
        display:inline-block;

    }
        header ul li a{
            
            display:block;
            padding: 0.5em 1em;
            text-decoration: none;
            background-color: rgba(0,130,200,255);
            color:#FFF;
            }

        header li a:hover{
            background-color: #f6f6f6;
            color: #000000;
        }
/*---------------------------------------------------------barra de arriba------------------------------------------------------------*/
#titulo h1{
    font-size: 30px;
}
#titulo p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-justify:auto;
  padding:0;
}
/*--------------------------------------------------------------titulo y desc-------------------------------------------------------*/
#tabla_contenidos{
    background-color:rgb(179, 236, 157,0.6);
    margin-left: 20px;
    border-radius: 5%;
    padding: 10px;
    border-color: rgba(0,124,191,255);
    border-width: 3px;
    border-style: dotted
}
#tabla_contenidos ul{
    margin-left: 10px;
    margin-top: 10px;
}
#tabla_contenidos ul li{
    list-style:none;
}

#tabla_contenidos ul li a{
    text-decoration: none;
    color: #000000;
}
#tabla_contenidos ul li a:hover{
    background-color:#008f70;
    color: #ddf8f6;
}

ul li ul {
    padding-left: 20px;
}
/*---------------------------------------------------------tabla de contenidos------------------------------------------------------------*/
/*Busqueda por iniciales*/

.container{
    padding: 20px;
    padding-right: 20px;
}

#busqueda_letras ul li{
    display:inline-block;
    margin:0;
    padding-left: 0px;
    
}

#busqueda_letras nav ul li a{
    color: #000000;
    display:block;
    padding:10px 10px;
    margin-right:0px;
    text-decoration: none;
    background-color:rgb(179, 236, 157);
    border-radius: 5px;

}
#busqueda_letras li a:hover{
    background-color: rgb(95, 215, 231);

}
#busqueda_letras ul li::before{
    content: '';
    width: 0px;
    height: 0px;
    position:absolute;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 20%;
    transform: translateY(-40%);
}
/**/




/*---------------------------------------------------------busqueda de iniciales------------------------------------------------------------*/
.busqueda_visual{
    width: 75em;   
}
.busqueda_visual h2{
    padding-bottom: 10px;
    margin: 10px;
}

/*---------------------------------------------------------busqueda visual------------------------------------------------------------*/
#temas_destacados{
    justify-content: center;
}
#temas_destacados p{
    font-size: 20px;
}
/*---------------------------------------------------------temas destacados------------------------------------------------------------*/

/*Footer*/
footer{
    display:inline-block;
    background-color:rgb(179, 236, 157);
    width: 100%;
}
.titulo-footer{
    text-align:left;
    text-decoration: underline black;
}
#bloque-1{
    display: inline-block;
    width: 50%;
    }
    #bloque-1-1{
        width: 50%;
        float: right;
    }
    #bloque-1-2{
        display: inline;
    }
#bloque-2{
    display: inline-block;
    width: 50%;
    }
    #bloque-2-1{
        width: 25%;
        float: left;
    }
    #bloque-2-2{
        width: 25%;
    }
footer figure {
    display: inline-block;
}

footer figure figcaption{
    display:block;
    text-align: center;
}

/*--------------------------------------------------------footer------------------------------------------------------------*/

img{
    margin-left: 10px;
}
