body{
    font-family: Arial, Helvetica;
    background:#ccc9dc;    
}
.menu{
    list-style: none;
    padding:0;
    background:#ccc9dc;
    width: 100%;
    max-width:1200px;
    margin:auto;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: #1b2a41;
    padding: 10px;
    display: block;
}
.menu li{
    display:inline-block;
    text-align: center;
}
.menu li a:hover{
    background:#324A5F;

}
border-radiusblockquote {
    padding: 3px 10px;
    border: PowderBlue 5px solid;
    border-radius: 20px;
}
h1 {
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Frutiger;
    text-transform: uppercase;
}
h2 {
    color: #3c1b66;
    font-weight: normal;
    font-size: 35px;
    font-family: Arial;
    text-transform: uppercase;
}
h3 {
    color: #443963;
    font-weight: normal;
    font-size: 30px;
    font-family: Arial;
    text-transform: lowercase;
}
h4 {
    color: #4f4866;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
    text-transform: lowercase;
}
h5 {
    color: #656172;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
    text-transform: lowercase;
}
h6 {
    color: #747377;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
    text-transform: lowercase;
}
