

/*Aspectos generales*/
*{
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family:Arial, Helvetica, sans-serif;
    line-height:1;
    
    
}

html {
    font-size:100%
}

article,aside,figcaption,figure,footer,header,menu,nav,section {
 display:block;
}



/*Titulos y encabezados*/
h1,h2,h3,h4,h5,h6{
    
    font-weight:bold
}

h1{
    font-size:1.7em;
    line-height:1em;
    margin-bottom:.5em
}

h2{
    font-size:1.3em;
    line-height:1.5em;
    margin-bottom:.5em
}

h3{
    font-size:1.1em;
    line-height:2em;
    margin-bottom:.5em
}

h4 {
    font-size:1em;
    line-height:2.14286em;
    margin-bottom:.28571em
}

/*Cuerpo de la pagina web*/

p {
    margin:0 0 1.42857em 0
}

p img {
    margin:0
}

em {
    font-style:italic
}
/*Tablas*/



/*Listas*/
ol,ul {
    list-style:none
}

ul ul {
    margin:.3em 0 .3em 1em
}

ul ul li {
 margin-bottom:.5em
}

#busqueda_letras nav{
    
    
    text-align:center;

}
.container{

    margin-left: auto;
    margin-right: auto;
    align-content:center;
    justify-content:center;
    text-align:center;
}


li p {
    line-height:1.5em
}
/*Formularios*/


form {
    margin:0;
}

fieldset {
    margin-bottom:1.42857em;
    width:80%;
    justify-content:center;
    margin-right:auto;
    margin-left: auto;
    border-radius:.30769em;
}

.form-group {
    padding:1em;
    display: block;
    
}

.button button {
    width:100%;
    padding-left:0;
    padding-right:0;
    text-align:center;
}

input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="password"], textarea, select{
    font-size:1em;
    font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
    width:80%;
    padding:.76923em .61538em;
    min-height:1.30769em;
    background-image:none;
    border:.08462em solid #b4b4b4;
    border-radius:.30769em;
    box-shadow: 0 .23077em .23077em rgba(0,0,0,0.075);
}


input[type="text"]:focus, textarea:focus, select:focus {
    box-shadow:0 .1em .1em rgba(0,0,0,0.075),0 0 .8em rgba(102,175,233,0.6);
}

textarea {
    min-height:4.5em;
}

label, legend {
    display:block;
    font-weight:bold;
}

input[type="checkbox"] {
    display:inline;
}

.button, button, input[type="submit"] {
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
    line-height:normal;
    font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
    border:.07143em solid #000;
    border-radius:.28571em;
    margin:0;
    padding:.71429em;
    display:inline-block;
    
}


/*Encabezado de la pagina web*/
.header {
    top:0;
    left:0;
    list-style: none;
    display: inline-block;
    width: 100%;
    padding:0;
    margin:0;
    
}
   
    .logo{
        padding: 20px 60px;
        display:inline-block;
        margin-left:40%;
        margin-right:auto;
    }
    #enlace-top{
        display: block;
        text-decoration: none;
        padding: 0.5em 1em;
        border: 1px solid rgba(25,25,25);
    }

    #enlace-top:hover{
        text-decoration:underline;
    }
    
    #nav-toggle{
        color:white;
        background:none;
        border: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
        display:none;
    }
    @media(max-width: 900px){
        
        #nav-toggle{display:block;}
    }
.nav ul{text-align:center;}
    header nav ul{
        border: 1px solid rgba(25,25,25);
        margin: 0% auto;
        
    }
    #form-busqueda{
        padding:30px;
        float:right;
    }
    #form-busqueda div{
        display:inline;
        
        
    }
    header ul li{
        display:inline-block;
        width: max-content;
        max-width:992px;
        

    }
    header ul li a{
            
            display:block;
            padding: 0.5em 1em;
            text-decoration: none;
            
    }
      
/*---------------------------------------------------------barra de arriba------------------------------------------------------------*/

#titulo h1{
    font-size: 30px;
}
#titulo p{
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-size: 20px;
  text-justify:auto;
  padding:0;
}

/*--------------------------------------------------------------titulo y desc-------------------------------------------------------*/
.bloque-2{
    display:flex;
    
    
    overflow: hidden;
    
    
}

#tabla_contenidos{
    float: left;
    padding: 1.3em 1.3em 0 1.3em ;
    text-align: left;
    display:inline;
    margin:0px 10%;
    border-width: 2px;
    border-style: solid;
    margin-right:0;
    margin-left: 10%;
    margin-top:0;
    margin-bottom: 0;
    
}

#tabla_contenidos ul{
    margin-left: 10px;
    margin-top: 10px;
}

#tabla_contenidos ul li{
    list-style:none;
    padding:0.3em;
}

#tabla_contenidos ul li a{
    text-decoration: none;
}

#img-cabecera{
   /* float: left;
    
    display: inline;*/
    width: 80%;
    text-align: left;
    display: inline;
    height:auto;
    float:left;
    margin-right:10%;
    margin-left: 0;
    margin-top:0;
    margin-bottom: 0;
    
}
#imagen-cabecera{
    width:100%;
max-width: 100%;}
.elemento{display: flex; justify-content: center; width: 100%;}
ul li ul {
    padding-left: 20px;
}
/*---------------------------------------------------------tabla de contenidos------------------------------------------------------------*/
/*Busqueda por iniciales*/

.container{
    padding: 20px;
    padding-right: 20px;
}

#busqueda_letras ul li{
    display:inline-block;
    margin:0;
    padding-left: 0px;
    
}

#busqueda_letras nav ul li a{
    
    display:block;
    padding:10px 10px;
    margin-right:0px;
    text-decoration: none;
    
    border: 1px solid rgba(25,25,25);
    /*background-color:rgb(179, 236, 157);
    border-radius: 5px;*/

}


#busqueda_letras ul li::before{
    content: '';
    width: 0px;
    height: 0px;
    position:absolute;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 20%;
    transform: translateY(-40%);
}
/**/




/*---------------------------------------------------------busqueda de iniciales------------------------------------------------------------*/
.busqueda_visual{
    display: block;
    justify-content: center;
    padding: 1em;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    
    }
.busqueda_visual figure{
    text-align: center;
    display: block;
    /*text-justify: center;
    margin-left:auto;
    margin-right: auto;
    justify-content: center; */
}

.busqueda_visual figure img{
    width: 40%;
    height: auto;
    max-width: 40%;
    min-width: 20%;


}

.busqueda_visual h2{
    padding-bottom: 10px;
    margin: 10px;
    display: block;
    text-align: center;
}

/*---------------------------------------------------------busqueda visual------------------------------------------------------------*/
#temas_destacados{
    justify-content: center;
}
#temas_destacados p{
    font-size: 20px;
}
/*---------------------------------------------------------temas destacados------------------------------------------------------------*/
#temas-destacados{
    background-color:rgba(191, 240, 248, 0.6);
    border-color: rgba(0,124,191,255);
    border-width: 2px;
    border-style: solid;
    width:80%;
    margin: 0 auto;
}
.articulo-destacado{
    
    border-color: rgba(0,124,191,255);
    border-radius: 0.3em;
    margin:auto;
    padding: 1em ; 
    display:flex;
    
    
    overflow: hidden;
    
}
.contenido{display: block; width:75%; text-align: justify;}
.img-destac{
    width: 20%;
    height:20%;
    max-width: 20%;
    min-width: 10%;
float: right;
display: block;}
/*Footer*/
footer{
    margin-top:10%;
    padding-top: 2.5%;
    display:block;
    width: 100%;
    overflow: hidden;
}
.titulo-footer{
    text-align:left;
    text-decoration: underline black;
}

#bloque-1-1{
    width: 50%;
    float: right;
}
#bloque-1-2{
    display: inline;
    float: left;
}
.bloque{
    width: 100%;
    display: inline; 
    padding: 1em;
    margin:5% auto;
    
    
}
#bloque-2-1{
    width: 25%;
    float: left;
}
#bloque-2-2{
    width: 25%;
    float:right;
}
footer figure {
    display: inline-block;
}

footer figure figcaption{
    display:block;
    text-align: center;
}

/*--------------------------------------------------------footer------------------------------------------------------------*/

img{
    margin-left: 10px;
    
}
.busqueda_visual{
    width:80%;
    height:auto;
}