--color-principal:rgba(255,255,255,1);
--color-encabezados:
--color-texto:
--color-titulos:#015249

/*General*/
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif
    color:#015249
}
*{  padding:0;
    margin:0;
    box-sizing:border-box;
    text-align: justify;
}

/*Cuerpo de la pagina web*/
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ddf0ee;
}

/*Encabezado de la pagina web*/
header{
    list-style: none;
    display: inline-block;
    
}
header{
    
    background-color: RGB(255,255,255);
    width: 100%;
}
header ul li{
    display:inline-block;

}
header ul li a{
    color: #000000;
    display:block;
    padding:10px 10px;
    text-decoration: none;
    background-color: #b3ec9d;
    }

header li a:hover{
    background-color: rgb(199, 236, 157);

}
/*---------------------------------------------------------barra de arriba------------------------------------------------------------*/
#titulo h1{
    font-size: 30px;
}
#titulo p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-justify:auto;
  padding:0;
}
/*--------------------------------------------------------------titulo y desc-------------------------------------------------------*/
#tabla_contenidos{
    background-color:rgb(179, 236, 157);
    margin-left: 20px;
}
#tabla_contenidos ul{
    margin-left: 10px;
    margin-top: 10px;
}
#tabla_contenidos ul li{
    
}
#tabla_contenidos ul li a{
    text-decoration: none;
    color: #000000;
}
#tabla_contenidos ul li a:hover{
    background-color:#008f70;
    color: #ddf8f6;
}

ul li ul {
    padding-left: 20px;
}
/*---------------------------------------------------------tabla de contenidos------------------------------------------------------------*/
/*Busqueda por iniciales*/

.container{
    padding: 20px;
    padding-right: 20px;
}

#busqueda_letras ul li{
    display:inline-block;
    margin:0;
}

#busqueda_letras nav ul li a{
    color: #000000;
    display:block;
    padding:10px 10px;
    margin-right:0px;
    text-decoration: none;
    background-color:rgb(179, 236, 157);

}
#busqueda_letras li a:hover{
    background-color: rgb(95, 215, 231);

}
/**/



nav ul{
    background-color:rgb(179, 236, 157);
}
/*---------------------------------------------------------busqueda de iniciales------------------------------------------------------------*/
.busqueda_visual{
    width: 75em;   
}
.busqueda_visual h2{
    padding-bottom: 10px;
}

/*---------------------------------------------------------busqueda de iniciales------------------------------------------------------------*/
#temas_destacados{
    width: 25em;
}

/*Footer*/
footer{
    display:block;
    background-color:blue;
}
.titulo-footer{
    text-align:center;
    text-decoration: underline black;
}
#bloque-1{
    display: inline-block;
    padding: 2.5em;
    }
    #bloque-1-1{
        padding: 2.5em;
    }
    #bloque-1-2{
        padding:2.5em;
    }
#bloque-2{
    display: inline-block;
    padding:2.5em;
    }
    #bloque-2-1{
        padding: 2.5em;
    }
    #bloque-2-2{
        padding:2.5em;
    }













footer figure {
    padding:2em;
    display: inline-block;
}

footer figure figcaption{
    display:block;
    text-align: center;
}

